//color
$bayOfMany: #353F60;
$scampi: #6C6C93;
$white: #fff;
$cornflowerblue: #3da5dc;
$lavender: #e7f0fb;
$lightskyblue: #96aef9;


//base colors
$base-color: $bayOfMany !default;
$base-color-twoo: $scampi !default;
$base-color-three: $white !default;
$base-color-fourth: $cornflowerblue !default;
$base-color-fifth: $lavender !default;
$base-color-sixth: $lightskyblue !default;